<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEm092AsjS-mZwYKuB880Ok6gnQyKN7Bg</string>
	<key>GCM_SENDER_ID</key>
	<string>57858131664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lounge.restaurant.app</string>
	<key>PROJECT_ID</key>
	<string>stake-lounge</string>
	<key>STORAGE_BUCKET</key>
	<string>stake-lounge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57858131664:ios:a83041074d32c427e4c0d5</string>
</dict>
</plist>